language: python
python:
  - "2.7"
  - "3.6"
os:
  - linux
install:
  - pip install psutil
  - pip install rdflib
  - pip install SPARQLWrapper
  - pip install pywbem
script:
  - pwd
  - pytest --durations=30 tests