body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 5px;
}

h2 {
    color: navy;
    margin-left: 20px;
}

h3 {
    color: navy;
    margin-left: 40px;
}

/*
td {
    color: white;
    margin-left: 20px;
}
*/

table.other_urls {
    background-color: lavender;
}

td.other_urls {
    background-color: lavender;
}

table.table_script_information {
    color: black;
    background-color: white;
    border-collapse: collapse;
    margin-left: 20px;
}

table.table_script_parameters {
    color: red;
    background-color: white;
    border-collapse: collapse;
}

table.other_urls {
    color: blue;
}

table.class_objects {
    color: navy;
    margin-left: 20px;
}

table.table_scripts_titles {
    color: black;
    background-color: lightgrey;
    border-collapse: collapse;
}

table.table_scripts_links {
    color: black;
    background-color: lightgrey;
    border-collapse: collapse;
}