@charset "utf-8";
/* CSS Document */
body{
	font-family: 'Open Sans', sans-serif;
	color:#000;
}
@media only screen and (max-width: 767px)
{
.nav-logo
{
	width:70% !important;
	height:auto;
}
}
.pad-nav
{
	padding-top:11px;
}
.nav-logo
{
	width:auto;
	float:left;
}
.left-part{
text-align: left;
}
.footer-bottom
{
	background:#f15922;
	padding:26px 0px;
}
.copyright
{
	color:#fff;
	text-align:center;
}
.contact-us
{
	font-size:18px;
	font-weight:bold;
	color:#fff;
	padding-bottom:15px;
}
.address-map
{
	color:#afafaf;
	padding:10px 0px;
}
.address-map i
{
	color:#24c9cc;
}
.useful-link ul li:last-child {
    border-bottom:none;
}
.nav-def
{
	background:none;
	border:none;
}
.useful-link ul
{
	margin:0;
	padding:0;
}
.useful-link ul li
{
	list-style:none;
	border-bottom:1px solid #3f3f3f;
	padding:8px 0px;
}
.useful-link ul li a 
{
	text-decoration:none;
	color:#afafaf;
	font-size:14px;
}
.useful
{
	font-size:18px;
	font-weight:bold;
	color:#fff;
	padding-bottom:15px;
}
.footer-logo
{
	text-align:center;
}
.footer
{
	background:#262626;
	padding:54px 0px 50px 0px;
}
.add-img img
{
	margin:0 auto;
}
.about-button {
    margin: 12px 0px 38px 0px;
	transition: width 2s linear 1s;
}
.about-button a
{
	border:1px solid #008183;
	font-size:15px;
	text-transform:uppercase;
	font-weight:600;
	text-align:center;
	padding:15px 40px;
	text-decoration:none;
	color:#008183;
}
.par p
{
	font-size:14px;
	line-height:21px;
}
.par
{
	padding:15px 0px;
}
.about-button a:hover
{
	background:#008183;
	color:#fff;
}
.about-heading
{
	font-size:35px;
	font-weight:300;
	padding-top:29px;
	}
	.about-heading span
	{
		font-weight:bold;
	}
	/*.technology
	{
		padding:54px 0px 60px 0px
	}*/
	.technology {
    padding: 24px 0px 60px 0px;
}
section.about{
	margin-top: 60px;
}
.add-text
{
	font-size:15px;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	font-weight:600;
	padding-top:13px;
}
.add-img
{
	text-align:center;
	padding-top:6px;
}
.happy-text
{
	font-size:42px;
	text-transform:uppercase;
	text-align:center;
	color:#fff;
	font-weight:300;
}
.happy-text span
{
	font-weight:bold;
}
.validated-technology
{
	background:url(../images/addressing.jpg) repeat top left;
	padding:58px 0px 78px 0px;
}
.button-field
{
	text-align:center;
	margin: 20px 0px;
	transition: width 2s linear 1s;
}
.button-field .sub:hover
{
	background:#008183;
	color:#fff;
}
.button-field .sub
{
	border:1px solid #008183;
	font-size:15px;
	text-transform:uppercase;
	font-weight:600;
	text-align:center;
	padding:15px 40px;
	text-decoration:none;
	color:#008183;
}
.field-icon-1
{
	text-align:center;
	padding:58px 0px 16px 0px;
}
.field-icon
{
	text-align:center;
	padding:45px 0px 16px 0px;
}
.field-text
{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	padding:0px 0px 39px 0px;
}
.field-box
{
	background:#f4f4f4;
	margin:36px 0px;
}
.our-field
{
	margin:40px 0px 87px 0px;
}
h2.sec-head
{
	font-family: 'Open Sans', sans-serif;
	font-size:35px;
	font-weight:300;
	text-transform:uppercase;
}
.line
{
	text-align:center;
}
h2.sec-head span
{
	font-weight:bold;
}
.left-part span{
display: inline-block;
margin-right: 10px;
}
.right-part{text-align: right;}
.topbar{
	background:#000;
	color:#fff;
	font-size: 13px;
	line-height: 35px;
	font-weight: 400;
	padding: 0;
}
.topbar .left-part span i{
	color: #22c0c3;
	margin-right: 3px;
}

ul.hrlist{
	padding:0;
	display:inline-block;
	width:100%;
	margin:0;
}
ul.hrlist li{
	list-style:none;
	display:inline-block;
	margin: 0 10px;
}
ul.hrlist.social-icons li{
	
margin: 0;
}
ul.social-icons{
	float:right;
}
ul.social-icons li a{
	
color: #fff;
	
height: 20px;
	
width: 20px;
	
text-align: center;
	
display: inline-block;
	
line-height: 20px;
}
ul.social-icons i{
	color: #fff;
}
/*--navigation--*/
.my-navbar{margin-bottom: 0;background: #fff;max-height: 100px;border: none;margin: 0;}
.my-navbar .navbar-header{display: inline-block;min-height: 100px;}

.my-navbar .navbar-header .navbar-brand{
    height: auto;
    width: 100%;
    padding: 15px 0;
    min-height: 100px;
}
.my-navbar .navbar-brand img{
    width: 100%;
    height: auto;
}
.my-navbar ul.navbar-right{height: 40px;margin-top: 30px;margin-bottom: 30px;}
.my-navbar ul.navbar-right li{
    display: inline-block;
    text-align: right;
}
.my-navbar ul.navbar-right li a{
    padding: 10px;
    font-size: 14px;
    transition: 0.5s ease all;
}
.my-navbar ul.navbar-right li a:hover{
    color: #f15922;
    transition: 0.5s ease all;
}
.my-navbar ul.navbar-right li.active{}
.my-navbar ul.navbar-right li.active a{
    background: none;
    color: #f15922;
    font-weight: 700;
}


/*--- mycarousel----*/
.slide1{
	background:url(../images/slide1.jpg);
}
.slide2{
	background:url(../images/slide1.jpg);
}
.mycarousel{
	height:530px;
}

.mycarousel .carousel-inner .item{
	height:530px;
	background-size:cover;
	background-position:left center;
}

.mycarousel .carousel-caption{right: 15%;left: auto;text-align: right;bottom: 30%;}
.mycarousel .carousel-caption span{width: auto;display: inline-block;padding: 20px 15px;background: #000;font-size: 23px;font-weight: 300;white-space: nowrap;float: right;}
.mycarousel .carousel-caption span.color1{background: #d3592e;}
.mycarousel .carousel-caption span.color2{background: #0a7078;}
.mycarousel ol.carousel-indicators li{
height: 12px;
width: 12px;
border-radius: 0;
border: 1px solid;
background: #000000;
border-color: #000000;
margin: 0;
}
.mycarousel ol.carousel-indicators li.active{	
opacity: 0.43;
}
.mycarousel a.carousel-control{
	width:10%;
	height:50px;
	top:calc(50% - 25px);
	bottom:calc(50% - 25px);
	background: none;
}
.mycarousel a.carousel-control span{
	height:50px;
	width:50px;
	line-height:50px;
	border:none;
	text-align:center;
	padding:0;
	top: 0;
	bottom: 0;
	margin-top: 0;
}


*{
  font-family: 'Open Sans', sans-serif;
}
/* .testheight Not required - unless testing ;) */
.testheight {
  height:1200px;
  font-size:20px;
  text-align:center;
  padding:100px 20px;
}
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #008183;
    background: #008183;
    padding: 18px 18px;
    text-align: center;
    margin: 0 0 0 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    color: #fff;		
}
.scroll:hover {
	background:#333;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}

/*-internal pages--*/
.breadcrum-sec{
	background:url(../images/breadcrum-bg.jpg);
	background-repeat:repeat;
	background-size:contain;
	background-position:left top;
}

.breadcrum-sec h1.page-title{
	color:#fff;
	margin: 40px 0;
	height: 60px;
	line-height: 60px;
}

.breadcrum-sec .breadcrumb{
background: transparent;
border-radius: 0;
padding: 0 10px;
text-align: right;	
margin: 40px 0;
height: 60px;
line-height: 60px;
}

.breadcrum-sec .breadcrumb li.active {
    color: #989bfb;
}
.breadcrum-sec .breadcrumb li a {
    color: #f15922;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #fff;
    content: "\f101";
    font: normal normal normal 14px/1 FontAwesome;
}
/*--survol page-*/
.about-survol {
    margin: 60px 0 40px 0;
}
.about-survol .technology {
    padding: 20px 0;
}

.jobs {
	margin: 60px 0 40px 0;
}

.events {
	margin: 60px 0 40px 0;
}

.dockit {
	margin: 60px 0 40px 0;
}
.about-survol .about-heading span{
}
.about-survol .technology img.img-outline{
outline: 1px solid #fff;
outline-offset: -22px;
}
.line.alleft{
	text-align:left !important;
}
section.made{
	margin: 0 0 50px 0;
}
.sec-subhead{
clear: both;
padding: 10px 0;
font-size: 16px;
color: #1e196a;
font-weight: bold;
}

ul.datalist{
padding: 0;
}

ul.datalist li{position:relative;line-height: 24px;font-size: 14px;list-style: none;padding: 0 20px;margin-bottom: 15px;text-align: justify;}

ul.datalist li:before{
	content:"";
	position:absolute;
	height: 12px;
	width: 12px;
	left: 0;
	top: 8px;
	background:blue;
	display:inline-block;
	border-radius:50%;
	text-align: center;
}
.ppi-adjustment ul.datalist li:before{
	content:"";
	position:absolute;
	height: 12px;
	width: 12px;
	left: 0;
	top: 5px;
	background:blue;
	display:inline-block;
	border-radius:50%;
	text-align: center;
}
p.infotxt{line-height: 24px;text-align: justify;font-size: 14px;}
.white-sec{
	background:#fff;
	padding: 60px 0;
}
.grey-sec{
	background:#f4f4f4;
	padding: 60px 0;
}
a.a-link{color: #f15922;}
.sec1 .image-side img{
	margin-top:20px;
}

section.try ul.datalist li{
	display:inline-block;
	margin-right:20px;
	font-size:16px;
	line-height: 24px;
}

section.try ul.datalist li:before{top: 8px;height:10px;width:10px;}
section.try ul.datalist li span.bold{
	font-weight:bold;
	margin:0 5px;
}

section.try{
	margin:60px 0 0 0;
}
section.cost{
	margin:0 0 80px 0;
}
@media (max-width:991px){
	.img-left-res img{
		float: none;
    display: block;
    margin: 0 auto 0 0;
	}
}
@media (max-width:767px){
	.right-part {
    text-align: left;
}
	.breadcrum-sec h1.page-title{
	height: auto;
	margin: 0;
	text-align: left;
	line-height: normal;
	}
	.breadcrum-sec .breadcrumb{
	text-align: left;
	margin: 0;
	height: auto;
	padding: 0;
	}
	.breadcrum-sec .breadcrumb li a{
	}
	.navbar-toggle{
	Padding: 10px;
    margin: 10px;
    border: 1px solid #2b2c6c;
    border-radius: 0;
    background: #2b2c6c;
	}
	.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
}
@media (max-width:480px){
	.left-part span {
    display: block;
    margin-right: 10px;
    text-align: left;
}
}
/*-faq--*/

.faq-section{
	margin:60px 0;}
.my-accordian{
	}
.my-accordian .panel.panel-default{
    border: none;
    border-bottom: solid;
    border-radius: 0;
    border-width: 1px;
    border-color: rgba(17, 137, 139, 0.25);
    margin: 0;
}
.my-accordian .panel-heading{
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 10px;
    margin: 10px 0;
}
.my-accordian .panel-title{
    font-size: 25px;
    font-weight: 300;
    color: #000;
}
.my-accordian .panel-title a {
    text-decoration: none !important;
}
.my-accordian .panel-title a i.fa.icon-plminus{
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #2b2d68;
    border-radius: 50%;
    font-size: 14px;
    background: #2c2e6d;
    color: #fff;
    vertical-align: top;
    margin: 2px 5px 0 0px;
}
.my-accordian .panel-title a.collapsed i.fa:before{content: "\f067";}
.my-accordian .panel-title a i.fa:before{content: "\f068";}
.my-accordian .panel-body{
    border: none !important;
    color: #000;
    padding: 10px 15px 10px 50px;
    text-align: justify;
}
.my-accordian .panel-title a:hover{
	text-decoration:none;
}
.txtwithimg .img-box-inline{display: inline-block;max-width: none;width: 300px;border: 1px solid #2c2e6d;padding: 15px;outline: 2px solid #008183;outline-offset: -4px;margin: 10px 0;}
.txtwithimg .img-box-inline img{
    display: inline;
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 20px 0;
}
.txtwithimg .text-box{display: inline-block;max-width: calc(100% - 340px);vertical-align: middle;margin-left: 30px;}
/*----responsive --*/

@media (max-width:1199px){
	.my-accordian .panel-title {
    font-size: 24px;
	}
}

@media (max-width:1024px){
}

@media (max-width:992px){
	.my-accordian .panel-heading {
    padding: 5px 10px;
    margin: 5px 0;
}
	.my-accordian .panel-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
.my-accordian .panel-body {
    border: none !important;
    color: #000;
    padding: 0px 15px 0px 40px;
}

.txtwithimg .text-box {
    display: block;
    max-width: 100%;
    vertical-align: top;
    margin-left: 0;
}
.txtwithimg .img-box-inline {
    display: block;
    max-width: none;
    width: 300px;
    border: 1px solid #2c2e6d;
    padding: 15px;
    outline: 2px solid #008183;
    outline-offset: -4px;
    margin: 20px auto;
}
}

@media (max-width:767px){
	.my-accordian .panel-title {
    font-size: 14px;
    padding-left: 30px;
}
.my-accordian .panel-heading {
    padding: 5px 10px;
    margin: 5px 0;
}
.my-accordian .panel-title {
    font-size: 14px;
    padding-left: 30px;
}
.my-accordian .panel-title a i.fa.icon-plminus {
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #2b2d68;
    border-radius: 50%;
    font-size: 14px;
    background: #2c2e6d;
    color: #fff;
    vertical-align: top;
    margin: 2px 5px 0 -35px;
}
}
@media (max-width:480px){
	.txtwithimg .img-box-inline {
    width: 100%;
	}
}

.ucasepage{
	margin-bottom: 100px;
}
p.text-16px{
	font-size:16px !important;
	line-height:26px !important;
}

/*--- ppi-adjustment --*/
.ppi-adjustment h2.sec-head {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.ppi-adjustment .par {
    padding: 5px 0px;
}
.ppi-adjustment .sec-subhead {
    clear: both;
    padding: 10px 0;
}
.ppi-adjustment p.infotxt {
    line-height: 22px;
    text-align: justify;
    font-size: 14px;
}
.ppi-adjustment ul.datalist li {
    line-height: 22px;
    font-size: 14px;
    padding: 0 20px;
    margin-bottom: 5px;
}
code.pre {
    font-size: 90%;
    color: #c7254e;
    background-color: #e5e3e3;
    white-space:pre-wrap;
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
kbd.pre {
    white-space: pre;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.instalationpage section.made{
	margin:0 !important;
}
.instalationpage .grey-sec, .instalationpage .white-sec{
    padding: 40px 0 60px 0;
}
.instalationpage .txtwithimg{
    margin-top: 10px;
}
.instalationpage .txtwithimg .img-box-inline {
    width: 100px;
    border: none;
    padding: 0;
    outline: none;
    margin: 0px 0;
}
.instalationpage .txtwithimg .img-box-inline img {
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0px 0;
    border: 1px solid #ffffff;
    outline: 2px solid #008183;
}
.instalationpage .txtwithimg .text-box {
    display: inline-block;
    max-width: calc(100% - 120px);
    vertical-align: middle;
    margin-left: 10px;
}
.inline-code{font-family: Menlo, Monaco, Consolas, "Courier New", monospace;background: #e5e3e3;color: #c7254e;padding: 2px 5px;border-radius: 2px;}

.open-slp-logo{
}
.instalationpage .open-slp-logo .img-box-inline {
	width: 300px;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #2c2e6d;
    outline: 2px solid #008183;
    outline-offset: -4px;
}
.instalationpage .open-slp-logo .img-box-inline img {
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0px 0;
    border: 0;
    outline: 0;
}
.instalationpage .open-slp-logo .text-box {
    max-width: calc(100% - 320px);
    vertical-align: middle;
    margin-left: 10px;
}
@media(max-width: 992px){
	.instalationpage .open-slp-logo .text-box, .instalationpage .txtwithimg .text-box {
    display: block;
    max-width: 100%;
	margin:10px 0;
}
/*-- breadcrum responsive on tablet screen --*/
	.instalationpage .breadcrum-sec h1.page-title{
	height: auto;
	margin: 0;
	text-align: left;
	line-height: normal;
	}
	.instalationpage .breadcrum-sec .breadcrumb{
	text-align: left;
	margin: 0;
	height: auto;
	padding: 0;
	}
	
/*---*/
.instalationpage, .instalationpage *, code, kbd, a{
	word-break:break-all;
}
}

/*-margin-padding-adjustments-*/






.p-t-0{
	padding-top:0 !important;
}
.m-t-0{
	margin-top: 0 !important;
}

/*-- arcitecture --*/
.architecture .txtwithimg .img-box-inline img{height: auto;width: auto;max-width: 100%;margin: 0px 0;}
.architecture .txtwithimg .img-box-inline{width: auto;border: none;outline: saddlebrown;margin: 0px 0;display: inline-block;padding: 5px;max-width: 100px;}
.architecture .txtwithimg .text-box {
    display: inline-block;
    width: auto;
    max-width: calc(100% - 120px);
    margin-left: 10px;
    vertical-align: top;
    margin-top: 10px;
}
.sec-head2 {
    margin: 10px 0;
    font-size: 20px;
    background: #2d2e6e;
    color: #fff;
    padding: 10px 10px;
}
.architecture ul.datalist li {
    margin-bottom: 5px;
}
.my-table{
}
.my-table table{border-color: #008183;}
.my-table table tr{
}
.my-table table tr.table-subhead{font-size: 15px;text-transform: uppercase;font-weight: 900;background: #e0f0f0;}

.my-table tbale tr td{
}

.my-table .table-bordered>tbody>tr>td, .my-table .table-bordered>tbody>tr>th, .my-table .table-bordered>tfoot>tr>td, .my-table .table-bordered>tfoot>tr>th, .my-table .table-bordered>thead>tr>td, .my-table .table-bordered>thead>tr>th {
    border: 1px solid;
    border-color: #008183;
}

.my-table .table-striped>tbody>tr:nth-of-type(odd) {
    background: #0081831f;
}
.my-table .table>caption+thead>tr:first-child>td, .my-table .table>caption+thead>tr:first-child>th, .my-table .table>colgroup+thead>tr:first-child>td, .my-table .table>colgroup+thead>tr:first-child>th, .my-table .table>thead:first-child>tr:first-child>td, .my-table .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    background: #008183;
    color: #fff;
    border: 1px solid #008183;
}

.b-r-white{
 border-right: 1px solid #fff !important;
	
}
.architecture .sec-subhead {
    clear: both;
    padding: 10px 0;
    font-size: 16px;
    color: #1e196a;
    font-weight: bold;
    margin-bottom: 0;
}
.sec-subhead2 {
    color: #008183;
    font-size: 14px;
    font-weight: 600;
}

/*--contact-*/


.contact {
    padding: 60px 15px;
}

.contact .form-control {
    border-radius: 0;
    min-height: 40px;
    resize: none;
    background:#f1f1f1;
    border-color: #e2dede;
    box-shadow: none;
}
.contact-form{
	margin-top:10px;
}

.contact-form .button-field a{
	display: inline-block;
}
.map-sec{
	 margin:60px 0;
 }

.address-box p {
    font-size: 16px;
}
.address-box p i.fa{font-size: 14px;width: 20px;margin-left: -25px;text-align: left;padding: 5px 0px;vertical-align: top;color: #008183;}

.address-box ul.social-icons li a{color: #ffffff;height: 40px;width: 40px;text-align: center;display: inline-block;line-height: 40px;margin: 0 3px;border: 1px solid;border-radius: 50%;background: #008183;border-color: #008183;}
.address-box ul.social-icons i{
	color: #fff;
	font-size: 18px;
}
.address-box ul.social-icons li a.fb{
	background: #3A559F;
    border-color: #3A559F;
}
.address-box ul.social-icons li a.twiter{
	    background: #28A9E0;
    border-color: #28A9E0;
}
.address-box ul.social-icons li a.gplus{
	    background: #E74C3C;
    border-color: #E74C3C;
}
.address-box ul.social-icons li a.linkedin{
	    background: #007BB5;
    border-color: #007BB5;
}

   
.contact-form .button-field{
	 text-align:left;
 }
a.no-deco{
	color: inherit;
    text-decoration: none;
}
.sec-we {
    margin: 60px 0 40px 0;
}


.we-img1 {
    padding: 20px 0;
    margin-bottom: 20px;
}

p.infotxt.big {
    font-size: 16px;
    line-height: 24px;
}
.sec-subhead.big {
    clear: both;
    padding: 10px 0;
    font-size: 24px;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.m-t-10 {
    margin-top: 10px;
}

ul.datalist.big li {
    font-size: 16px;
}
.bglightgrey{
	background: #f4f4f4;
	padding: 50px 10px;
	margin: 20px 0;
}
.imgbordergrey{
	border: 2px solid #e8e1e1;
    padding: 5px;
}
@media (max-width:768px){
	ul.datalist.big li {
    font-size: 14px;
}
p.infotxt.big {
    font-size: 14px;
}
}